@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #eee;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* UTILITY */
.p-small {
    padding-bottom: 5px;
}

.p-medium {
    padding-bottom: 10px;
}

.p-y {
    padding: 10px 0;
}

.m-y {
    margin: 10px 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

#slider img {
    float: left;
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 20px; */
}

h1 {
    font-size: 4rem;
    line-height: 2;
    text-align: center;
    color: var(--color-primary);
    padding: 5px;
}

h2 {
    letter-spacing: -1px;
    font-family: Arial
}

main {

    background: url(images/graphics_card.png);
    padding: 4rem 0;
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.slide-container {
    background-color: #f4f4f4;
    border-radius: 25px;
    opacity: 95%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 150px;
}

.arrow {
    width: 2rem;
    margin: 0 1rem;
    cursor: pointer;
}

section {
    width: 100%;
    /* height: 300px; */
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* border: 1px solid black; */
}

section::-webkit-scrollbar {
    height: 5px;
    width: 2px;
    border: 1px solid #d5d5d5;
    background: #d5d5d5;
}

section::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

section::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    outline: 1px solid #eee;
    /* border-radius: 100px; */
}

section .thumbnail {
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    border: 1px solid var(--black);
    overflow: hidden;
    transform: scale(.95);
    transition: all .3s;
    border-radius: 15px;

}

section .thumbnail:hover {
    transform: scale(1);
}

.product-details {
    text-align: center;
    padding-bottom: 1rem;
    background-color: #fff;
}

.product-details h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.product-details p {
    font-size: 1rem;
    padding-bottom: 1rem;
    color: green;
    font-weight: 700;
}

.product-details p span {
    text-decoration: line-through;
    color: red;
    font-weight: normal;
}

.product-details a {
    font-size: 1rem;
    text-decoration: none;
    background-color: var(--color-sec);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.product-details a:hover {
    background-color: var(--color-primary);
}

.promotion {
    background: url(images/banner.png);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.promotion h1 {
    font-family: Impact;
    position: relative;
    text-align: center;
    font-size: 6.5vh;
    margin: auto;
    letter-spacing: 3px;
    text-align: center;
    vertical-align: middle;
    color: #222;
    text-transform: uppercase;
    opacity: 95%;
}

.promotion h1::before {
    content: attr(data-text);
    position: absolute;
    text-align: center;
    color: #fff;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #fff);
    text-decoration: underline;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    
}

@keyframes animate {
    0%, 10%, 100%
    {
        width: 0;
    }
    70%, 90%
    {
        width: 100%;
    }
}