@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #eee;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* UTILITY */
.p-small {
    padding-bottom: 5px;
}

.p-medium {
    padding-bottom: 10px;
}

.p-y {
    padding: 10px 0;
}

.m-y {
    margin: 10px 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.products {
    background-color: #eee;
    padding: 1rem;
}

.products h1 {
    font-size: 2.5rem;
    line-height: 2;
    color: var(--color-primary);
}

form input {
    width: 20rem;
    padding: .7rem;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    border-bottom: 2px solid var(--color-sec);
    margin-bottom: 1rem;
}

.navbtn {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    margin-right: 12px;
    background-color: var(--color-sec);
    padding: 4px;
    border-radius: 10px;
}

.filter-box .active {
    background-color: var(--color-primary);
}

.filter-box .on-sale {
    background-color: #dba800;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6
    }
}

#store-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem 0;
}

.store-product {
    border: 1px solid #eee;
    max-width: 260px;
    border-radius: 9px;
    border-width: 1px;
}

@media(max-width: 1060px) {
    .store-product {
        max-width: 280px;
    }
}

@media(max-width: 830px) {
    .store-product {
        max-width: 330px;
    }
}

@media(max-width: 600px) {
    .store-product {
        max-width: 450px;
    }
}

.product-details {
    text-align: center;
    padding-bottom: 1rem;
    background-color: #eee;
}

.product-details h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.product-details p {
    font-size: 1rem;
    padding-bottom: 1rem;
    color: green;
    font-weight: 700;
}

.product-details .discount {
    text-decoration: line-through;
    color: red;
    font-weight: normal;
}

.product-details a {
    font-size: 1rem;
    text-decoration: none;
    background-color: var(--color-sec);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.product-details a:hover {
    background-color: var(--color-primary);
}


.content-section {
    padding-top: 30px;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    border-radius: 50px;
}

.navbtn:hover {
    background-color: #ff1515;
    color: black;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}


.cart_icon {
    font-family: "Metal Mania";
    margin: 30px;
    font-size: 40px;
    height: auto;
    width: 250px;
    border-width: 1px;
    border-radius: 50px;
    left: 65%;
    position: relative;
    background-color: #56595f96;
}

.cart_icon:hover {
    background: #85a7e696;;
}

.cart_icon img {
    height: auto;
    width: 45px;
}

#cart-count {
    text-align: center;
    font-size: 30px;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

#cart {
    display: none;
}

.continue_shopping {
    display: none;
    font-size: 30px;
}

@media(max-width: 850px) {
    .cart_icon {
        left: 50%;
    }   
}

@media(max-width: 580px) {
    .cart_icon {
        left: 40%;
    }   
}

@media(max-width: 470px) {
    .cart_icon {
        left: 25%;
    }   
}

@media(max-width: 1130px) {
    .product-details h2 {
        font-size: 1rem;
        font-weight: 500;
    }
}

